[submodule "QtSpecem"]
	path = QtSpecem
	url = https://github.com/alvieboy/QtSpecem.git
	branch = interfacez
[submodule "QtZeroConf"]
	path = QtZeroConf
	url = https://github.com/jbagg/QtZeroConf.git
